<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermercado Online</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <h1>Supermercado Online</h1>
        <nav>
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="/login">Iniciar sesion</a></li>
                <li><a href="/register">registrarse</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Bienvenido a nuestro Supermercado Online</h2>
            <p>Encuentra los mejores productos al mejor precio</p>
        </section>

        <section class="products">
            <h2>Productos Destacados</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <% productos.forEach(producto => {  %>
                        <div class="swiper-slide">
                        <h3><%= producto.nombre_producto %></h3>
                        <p><%= producto.precio %></p>
                        <p><%= producto.descripcion %></p>
                        <button><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    <%}); %>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Supermercado Online. Todos los derechos reservados.</p>
    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
</body>
</html>
