:root{
    --background: #FFF8F1;
    --header: #A45D83;
    --nav: #FFCDE8;
    --hover:#e5bad1;
}


h1, h2, p, img, i, a, div, body{
    color: #000;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--background);
    color: #fff;
    font-family: "Quicksand", sans-serif;
}
p::first-letter{
    text-transform: uppercase;
}


/*---------- Header */


.header__div{
    align-items: center;
    background-color: var(--header);
    display: flex;
    height: 3em;
    justify-content: space-between;
}
.header__div-ico{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5em;
}
h1{
    color: #fff;
    font-weight: 500;
    font-size: 1.3em;
}

.fa-brands{
    color: var(--background);
    font-size: 30px;
}
nav{
    display: flex;
    justify-content: center;
}

.header__nav-div{
    align-items: center;
    background-color: var(--nav);
    border-radius: 3em;
    display: flex;
    font-size: 1em;
    font-weight: 600;
    height: 2.7em;
    justify-content: space-around;
    padding: 0.5em;
    margin-top: 1em;
    width: 90%;
}
nav a:hover{
    background-color: var(--hover);
}

/* -------- MAIN */
img{
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    column-gap: 2em;
    margin: 2.5em 1.5em;
}
.main__p-up{
    font-size: 1em;
    font-weight: bold;
}
.main__p-bot{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
h2{
    margin-top: 20px;
    font-size: 5em;
    text-transform: uppercase;
    color: #A45D83;
}
.h2__span-p{
    color: #BB3E81;
}
button{
    font-weight: bold;
    background-color: var(--nav);
    border-radius: 1.5em;
    border: none;
    height: 40px;
    width: 9em;
}
button:hover{
    cursor: pointer;
    background-color: var(--hover);
}


