<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <form action="/admin/item?_method=PUT" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="hola">
        <input type="submit">
    </form>
</body>
</html>
